{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Book</title>
    <link rel="stylesheet" href="{% static 'book/css/style.css' %}">
</head>
<body>
    <h1>Create a New Book</h1>
    <form id="save_form" method="post">
        {% csrf_token %}
        <label for="id_content">Content:</label><br>
        <textarea id="id_content" name="content" rows="4" cols="50"></textarea>
        <button id="save_button" type="submit">Save</button>
    </form>
</body>
    <script src="{% static 'book/js/sample.js' %}"></script>
</html>
